<div class="d-flex h-100vh" (focus)="searchFocused = false">
  <div class="w-20 d-flex flex-column px-2">
    <div class="d-flex align-items-center my-2">
      <img
        class="user-settings"
        appProfileImage
        circular
        [matMenuTriggerFor]="menu"
        [src]="loggedInUser?.profilePicture"
      />
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Log Out</button>
      </mat-menu>

      <h1 class="m-i-s-1">Messenger</h1>
    </div>
    <div class="d-flex align-items-center my-1">
      <span *ngIf="searchFocused" class="icon">
        <mat-icon>arrow_back</mat-icon>
      </span>
      <app-shared-input
        class="flex-grow-1"
        (input)="search$.next($event)"
        (focus)="searchFocused = true"
        (blur)="searchFocused = false"
        placeholder="Search Messenger"
      ></app-shared-input>
    </div>
    <div class="flex-grow-1" *ngIf="searchFocused"></div>
    <app-conversation-list
      [hideConversations]="searchFocused"
      (selectedConversation)="selectedConversation = $event"
    ></app-conversation-list>
  </div>
  <div class="w-80">
    <app-conversation-view
      *ngIf="selectedConversation"
      [selectedConversation]="selectedConversation"
    ></app-conversation-view>
  </div>
</div>
<audio #audioElement src="../src/assets/media/new-message.mp3" hidden></audio>
